<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <!-- <form class="edit_user" id="edit_user_1" action="/users/1" accept-charset="UTF-8" method="post" _lpchecked="1">
         <input name="utf8" type="hidden" value="✓">
         <input type="hidden" name="_method" value="patch"> -->
    <!-- 実際のブラウザはgetとpostの二つだけしかない。Railsが上のようhiddenのように偽装する。postリクエストを送りつつ、それをpatchリクエストに変えている。 -->
  <%= form_for(@user) do |f| %>
      <!-- @userの中身をRailsは精査して(idがデータベースにあるか)POSTでcreateアクションに飛ばすかPATCHでupdateアクションに飛ばすか決める。 -->
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>
